body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 20px;
  }

  ol {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  

  
  h1 {
    text-align: center;
    color: #0c0a0a;
  }
  
  form {
    max-width: 3000px;
    margin: 0 auto;
  }
  
  fieldset {
    border: 10px solid grey;
    margin: 10px;
    padding: 10px;
  }
  
  h3 {
    color: #0f0f0f;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a0400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff5500;
  }